::-webkit-scrollbar{
    width: 9px;
    height: 9px;
    box-sizing: border-box;
}
::-webkit-scrollbar-button{
	width:9px;
	height:12px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAADr0lEQVRYR71Yy04iQRQtE10IRiSBOLbOUvZmfkIlLHXjI+jCDzAm8w8TJKxZyENdqEui8BPuDVtsHCNGQcFEWUzdSt/KtbqqqZ44U0kn1V2n69xz63W6x5h9iXFoNADe521dftnibJlt+7PCjdmycpzz9vbmmvCTk5PzvK0NuNvbWyNuYWEBcbbUX8obSvBgMDAKiUQiUrDLi0nNPC9eYqwFfyWvTvAPHsm1JhqHEl9dXbHV1VUJo4Lv7u6k4JOTE7a5uSlxc3Nz/0ww5VXjR15VMIjFoop2+v2+EAJisaDoaDQqR/j+/l7gjo+PJW5ra0vUZ2dnqWDko1zqM+fi4kL0RxOMMaytrUneXC4ncMhFYzg4OBA4KpiK1Yl2Xl9fXSqWip6ampLEDw8PbrVa9U2S7e1tlkwmdYIBC6J1CXfOz8/ljAHRNIbFxcXs0tJShb/rHB4eShxw0RgymczPVCr1CwWrRCOJeQesVqtJUevr61JwPp+XxHt7e6xYLErc/v6+OqVHJvrl5cWt1+u+BEIMNzc3UvDj46NbqYD2zwViaLfbWsGBU+vs7EwIASIow+GQYSA8e5K4UCgIHBBBeX9/Z+VyWdT5CAliJabApdTr9UR/VDTGQPeO5+dngUMuGgPiQu3S3W7XHR8fl2IxaHjWbDalYAhwYmJCNH98fEht8KzVaukEA8a4WQIvdgKiacJjsZicWZgYwJZKJZlwiGF6etq3hpWk+24dzKAOODMzI4lhrZs6I2t9FB+2+3ghcZjIIF4YCJiFUJA31AjbCrY8N/9aMH2RCrbhDSP4OydKBETZ4W09fn3jV8SAG/Dnv/kFFtS22PC2eGdWOJNg3fnos3iXl5ci6HQ6zTxryVRbeXp6KjAbGxvMYCt1XDQZgpdy0UbV0lI+ikNuk9NCLN21fU4LQXA2ersgbP+fXBZiwG05jqNzWUE7NLwueHVmBxrpLg3c4OwoJ9aR+6udFgvhsugA/DeHZ3JaWi+tOi1q9bxdkHU6nU8uCxwPlkQiEeSjTaKFw8M+1JGmDg+4EUddFsSA3KFGWGcAVlZWBId3zrGnpyff4Z/NZgUmHo+bBIc2Hgqv+Cy14Q61hlUDgNkEcs8AMPXwR8zOzo48/Olc5vWRaxh4qctCsdCPajzAcFBOrI8yHtpdWj2HG42G6G95eZl55yHDLyokOjo6EtXd3V1Gvqh061e3jAAnjAfloi/Tcxi4KR/FIXeYc9jmFwpw2PwGUgY58NaG1/rX0h9d1DUzJEP0JgAAAABJRU5ErkJggg==);
	background-color:transparent;
	background-repeat:no-repeat;
}

::-webkit-scrollbar-button:vertical:start{
	background-position:0px 0px;
}
::-webkit-scrollbar-button:vertical:start:hover{
	background-position:-10px 0px;
}
::-webkit-scrollbar-button:vertical:start:active{
	background-position:-20px 0px;
}
::-webkit-scrollbar-button:vertical:end{
	background-position:-30px 0px;
}
::-webkit-scrollbar-button:vertical:end:hover{
	background-position:-40px 0px;
}
::-webkit-scrollbar-button:vertical:end:active{
	background-position:-50px 0px;
}


::-webkit-scrollbar-button:horizontal:start{
	background-position:0px -11px;
}
::-webkit-scrollbar-button:horizontal:start:hover{
	background-position:-10px -11px;
}
::-webkit-scrollbar-button:horizontal:start:active{
	background-position:-19px -11px;
}
::-webkit-scrollbar-button:horizontal:end{
	background-position:-30px -11px;
}
::-webkit-scrollbar-button:horizontal:end:hover{
	background-position:-40px -11px;
}
::-webkit-scrollbar-button:horizontal:end:active{
	background-position:-50px -11px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,0.15);
	-webkit-border-radius:5px;
}
::-webkit-scrollbar-thumb{
    background-color: #E7E7E7;
	border: 1px solid rgba(0,0,0,0.21);
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #F6F6F6;
	border: 1px solid rgba(0,0,0,0.21);
}
::-webkit-scrollbar-thumb:active{
    background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#E4E4E4),
		to(#F4F4F4)
	);
}
 ::-webkit-scrollbar-corner{  
	background-color:#f1f1f1;
	-webkit-border-radius: 1px;
} 

