.effectsFactory h3{
        margin: 0;
        text-align:left;
        color: #000;
        padding-left: 10px;
}
.effectsFactory{
        color: #000;
}
.effectsFactory li{
        width: 220px;
        display: inline-block;
        border: 2px solid #575C62;
        background: #fff;
        text-align:center;
        padding-top:10px;
        margin-left: 10px;
}
.effectsFactory li:hover{
        border: 2px solid #55a4f2;
        cursor: pointer;
}
.effectsFactory li img{
        width: 200px;
}
.effectsFactory .lightFont{
        color: #888;
        font-weight: 100;
        font-size: 12px;
        padding-bottom:5px;
        text-shadow: none;
        -webkit-text-shadow: none;
}
.effectsFactory li .author{
        float: left;
        padding-left: 10px;
}
.effectsFactory li .date{
        float: right;
        padding-right: 10px;
}
.runtimePanel{
        position: fixed;
        background: #fff;
        transition: all ease-in 0.5s;
        -webkit-transition: all ease-in 0.3s;
        z-index: 999;
        border-radius: 6px;
        left: 50%;
        box-shadow: 0 0 4px 0px #000;
        -webkit-box-shadow: 0 0 4px 0px #000;
}
.runtimePanel .close{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #000;
}
.runtimePanel .close:hover{
        color: #ccc;
        cursor: pointer;
}
.runtimePanel h3{
        background: #229bd7;
        margin: 0;
        padding: 5px;
        border-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: inset 0px -2px 7px 0px #06B;
        -web-box-shadow: inset 0px -2px 7px 0px #06B;
}
