@keyframes fly{
        0%{
        }
        100%{
                width:0;
                transform:rotateY(180deg);
        }
}
@-webkit-keyframes in{
        0%{
        }
        100%{
                -webkit-transform:scale(0.0001,0.0001);
        }
}
.in{
        animation:in 0.2s ease-in;
        -webkit-animation:in 0.3s 0.3s ease-in;
}
