body{
        background:#d2d0d0;
        margin:0;
        font-family:Microsoft Yahei,Arial;
        min-width:1003px;
        font-size:12px;
}
img{
        vertical-align:middle;
}
.wrapper{
        margin:10px 100px;
        min-width:803px;
}
.wrapper .title{
        background:#ecebeb;
        margin-bottom:10px;
        text-align:center;
        color:navy;
        padding:4px 0;
        font-size:14px;
}
.panel{
        background:#ecebeb;
        position:relative;
        height:82px;
}
.pItem,.subItem{
        width:95px;
        height:56px;
        background:#6158d4;
        text-align:center;
        float:left;
        margin-top:13px;
        cursor:pointer;
        margin-left:8px;
        color:#fff;
}
.pItem img{
        margin-top:6px;
        height:29px;
}
.subItem{
        display:none;
}
.left,.right{
        margin-top:20px;
        height:430px;
        background:#ecebeb;
}
.left{
        float:left;
        width:570px;
        position:relative;
}
.painting{
        position:absolute;
        left:0;
        top:0;
}
.openFile{
        font-size:25px;
        margin-top:170px;
        color:#ccc;
        text-align:center;
}
.right{
        float:right;
        text-align:center;
        margin-left:10px;
        width:214px;
        position:relative;
}
.rect{
        height:91px;
        background:#fff;
}
.layer{
        position:absolute;
        bottom:0;
}
.layer .lItem{
        width:192px;
        height:38px;
        background:#e39ae7;
        line-height:38px;
        padding-left:10px;
        margin:5px 6px;
        color:#fff;
        cursor:pointer;
}
.layer .blueStyle{
        background:blue;
        border:1px solid red;
}
#upFile{
        position:absolute;
        top:13px;
        left:120px;
        opacity:0;
        cursor:pointer;
        width:70px;
        height:56px;
}
.commonmsgbox{
        width:500px;
        height:300px;
        position:fixed;
        z-index:10;
        background:#fff;
        border:1px solid #ccc;
}
.commonmsgbox .title{
        background:url(image/msgtitle.png) no-repeat;
        margin-top:-5px;
        text-align:center;
        color:#fff;
        width:500px;
        line-height:40px;
        height:40px;
}
.commonmsgbox a{
        text-decoration:none;
}
.commonmsgbox .commonmsg{
        border-left:1px solid #ccc;
        border-right:1px solid #ccc;
        color:#000;
}
.commonmsgbox .msgclose{
        font-size:12px;
        float:right;
        margin-top:-50px;
        padding-right:10px;
        cursor:pointer;
        color:red;
}
.commonmsgbox .commonmsg{
        padding-left:20px;
        font-size:16px;
        padding-top:10px;
        line-height:24px;
        color:navy;
}
.commonmsgbox .content{
        padding:30px;
        line-height:24px;
        text-align:center;
}
.edit{
        background:#ccc;
        padding:6px;
        margin-top:8px;
}
.eItem{
        cursor:pointer;
        margin-left:4px;
}
.back{
        position:absolute;
        left:-40px;
        width:30px;
        height:auto;
        top:4px;
        display:none;
}
.dBar{
        width:300px;
        height:15px;
        border:2px solid #ccc;
        position:relative;
        border-radius:10px;
        margin-top:10px;
        margin-bottom:10px;
        display:inline-block;
        vertical-align:bottom;
}
.dBar a{
        display:block;
        position:absolute;
        left:135px;
        top:-20%;
        width:20px;
        height:140%;
        border:1px solid #999;
        border-radius:20px;
        background:#999;
}
.dBar .dMsg{
        position:absolute;
        right:-20px;
        top:0;
}
