html,body{
    margin:0 auto;
    padding:0;
    font-family:Microsoft Yahei;
}
.wrapper{
    width:1003px;
    margin:0 auto;
    padding:0;
    background:#fff;
    overflow:auto;
}
header{
    height:247px;
    background:url(../images/headerbg.png) 81px 25px no-repeat;
    position:relative;
    overflow:hidden;
}
nav{
    height:64px;
    margin-top:183px;
}
nav a{
    display:block;
    float:left;
    height:32px;
    width:58px;
    font-size:26px;
    margin-top:18px;
    font-family:Michroma,'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',tahoma,'Hiragino Sans GB W3';
    text-decoration:none;
    color:#c58043;

}
nav a:hover{
    text-shadow:0 0 2px yellow;
}

.hoverBorder{
    width:70px;
    height:4px;
    background:rgb(70,186,240);
    position:absolute;
    top:238px;
    left:100px;
    -webkit-transition:all 0.2s ease-in;
}

#home{
    background-position:0 0;
    margin-left:106px;
}
#docs{
    background-position:-123px 0;
    margin-left:61px;
}
#download{
    margin-left:61px;
}
#home:hover{
    background-position:-59px 0;
}
#docs:hover{
    background-position:-182px -1px;
}
section{
    width:870px;
}
.main{
    margin:0 auto;
    margin-top:40px;
}
article.intro{
    height:311px;
    background:#d6d5d5;
    overflow:hidden;
}
.intro h1{
    font-size:30px;
    font-weight:normal;
    margin:25px 0 0 21px;
}
.intro p{
    font-size:18px;
    color:#696968;
    line-height:31px;
    margin:10px 0 0 21px;
}
section.content{
    margin:0 auto;
    margin-top:32px;
    overflow:auto;
}
section h1{
    font-size:30px;
    font-weight:normal;
    margin:0;
    padding:0;
    margin-left:16px;
}
article.demo{
    float:left;
}
section.demoPics{
    width:703px;
    height:410px;
    margin:0;
    padding:0;
    margin-top:16px;
    overflow:hidden;
}
section.introWrapper{
    width:700px;
    float:left;
}
aside.links{
    height:275px;
    float:left;
    width:160px;
    margin:0;
    padding:0;
}
.links a{
    text-decoration:none;
}
aside.links .linksWrapper{
    margin:0;
    padding:0;
    margin-top:16px;
    line-height:28px;
}
.links a{
    color:#555;
}
.introWrapper a{
    display:block;
    width:227px;
    height:141px;
    margin:0;
    float:left;
}
#linkSimple{
    background:url(../images/links_simple.png) 74px 53px no-repeat,url(../images/go.png) 170px 83px no-repeat;
    background-color:#3cb1bb;
}
#linkPro{
    margin-left:10px;
    background:url(../images/links_pro.png) 74px 53px no-repeat,url(../images/go.png) 170px 83px no-repeat;
    background-color:#c9c845;
}
#linkGit{
    margin-left:10px;
    background:url(../images/links_git.png) 74px 53px no-repeat,url(../images/go.png) 170px 83px no-repeat;
    background-color:#c58043;
}
footer{
    float:left;
    width:100%;
    margin:0;
    margin-top:46px;
}
.footerNav{
    height:73px;
    width:100%;
    background:#d6d5d5;
    text-align:center;
    line-height:73px;
    color:#fff;
    font-size:14px;
}
.footerNav a{
    color:#fff;
    text-decoration:none;
}
footer a{
    text-decoration:none;
    color:#777;
}
.copyright{
    margin-top:33px;
    width:100%;
    text-align:center;
    height:80px;
    color:#777;
}
/*
 * start flash css
 */
.flashWrapper{
    width:559px;
    height:432px;
    overflow:hidden;
    margin:10px auto;
    padding:0;
    -webkit-transition:all ease-in .2s;
    position:relative;
}
.flash{
    width:5100px;
    height:432px;
    position:absolute;
    top:0;
    left:0;
    -webkit-transition:all ease-in-out .5s;
}
.flash img{
    padding:0;
    margin:0;
    display:block;
    width:850px;
    height:432px;
    float:left;
}
#ct img{
    padding:0;
    margin:0;
    display:block;
    width:559px;
    height:432px;
    float:left;
}
.demo .title{
    float:left;
    color:#fff;
    font-size:14px;
    margin:-60px 0 0 12px;
    background:#333;
    opacity:0.9;
    width:818px;
    height:50px;
    line-height:50px;
    padding-left:30px;
}
.demo .title a{
    text-decoration:none;
    color:#c9c845;
    font-weight:bold;
    margin-left:20px;
}
.demo .picNav{
    float:right;
    margin:-40px 9px 0 0px;
    font-size:48px;
    vertical-align:bottom;
    text-align:right;
    height:5px;
}
.demo .picNav a{
    text-decoration:none;
    margin:0;
    margin-left:-10px;
    color:#151414;
}
.demo .picNav a.curr{
    color:#bd1313;
}
.apintro{
    margin-top:200px;
    padding:0;
}
.apintro h2{
    font-size:20px;
    font-weight:normal;
    padding-left:30px;
}
.apintro > li{
    list-style:none;
    float:left;
    margin-left:50px;
    padding:0;
    width:300px;
    line-height:24px;
}
.apintro > li ul{
    margin:0;
    padding:0;
    padding-left:30px;
}
.apintro > li ul li{
    list-style-position:outside;
    list-style-image:url(../images/listimg.png);
    color:#1570a6;
    font-size:14px;
}
.code{
    font-family:Consolas, Microsoft Yahei;
}
